<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>New User</h2>
	<form method="POST" action="/cmd_create_user">
		<ul>
			<li><input type="text" name="username"></li>
			<li><input type="text" name="password"></li>
			<li><input type="submit" name="Submit"></li>
			<li>Or <a href="/login"> Login</a></li>
		</ul>
	</form>
</div>

</body>
</html>
