<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Login</h2>
	<form method="POST" action="/cmd_login">
		<ul>
			<li><input type="text" name="username"></li>
			<li><input type="text" name="password"></li>
			<li><input type="submit" name="Submit"></li>
			<li>Or <a href="/create_user"> create new user</a></li>
		</ul>
	</form>

</div>

</body>
</html>
