<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	$(function () {
		var socket = io();
		var roomId = '123';
		var numMsgs = 0;
		socket.emit('start firebase', roomId);
		$('form').submit(function(){
			socket.emit('chat message', roomId, $('#m').val());
			$('#m').val('');
			return false;
	    });
	    socket.on(roomId + ' chat message', function(msg){
	    	$('#messages').append($('<li>').text(msg));
	    	numMsgs++;
	    });
	    socket.on(roomId + ' check', function(msg){
	    	if (numMsgs == 0) {
	    		$.ajax({
	    			type: 'POST',
	    			url: '/messages/' + roomId,
	    			dataType: 'json',
	    			success: function(result) {
	    				Object.keys(result).forEach(function(key){
	    					$('#messages').append($('<li>').text(result[key]));
	    					numMsgs++;
	    				});
	    			},
	    			error: function() {
	    				console.log('No data found');
	    			}
	    		});
	    	}
	    });
	});
	</script>

</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Chat Room</h2>

<ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

</div>

</body>
</html>
