<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <h1>Prove 09</h1>
  	<form action="/mail" method="get">
      <input type="number" name="weight" placeholder="Weight">
      <select>
		  <option value="volvo">Letters (Stamped)</option>
		  <option value="Letters (Metered)">Letters (Metered)</option>
		  <option value="Large Envelopes (Flats)">Large Envelopes (Flats)</option>
		  <option value="Parcels">Parcels</option>
		</select>
    </form>
</div>


</body>
</html>
