<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	$(function () {
		var socket = io();
		var roomId = '<%= roomId %>';
		var numMsgs = 0;
		socket.emit('start firebase', roomId);
		$('form').submit(function(){
			socket.emit('chat message', roomId, $('#m').val(), '<%= username %>');
			$('#m').val('');
			return false;
	    });
	    socket.on(roomId + ' chat message', function(msg, user){
	    	$('#messages').append($('<li>').text(user + ': ' + msg));
	    	numMsgs++;
	    });
	    socket.on(roomId + ' check', function(result){
	    	if (numMsgs == 0) {
	    		json = JSON.parse(result);
				Object.keys(json).forEach(function(key){
					$('#messages').append($('<li>').text(json[key].user + ': ' + json[key].msg));
					numMsgs++;
				});
	    	}
	    });
	});
	</script>

</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Chat Room</h2>
<h3>Room Id: <%= roomId %></h3>

<ul id="messages"></ul>
    <form action="">
    	<input id="m" autocomplete="off" /><button>Send</button>
    </form>
</div>

</body>
</html>
